@using HealthcareSoft.Web.Helper;
@model HealthcareSoft.Data.Model.ResetPasswordModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Stetho - Home</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
@using (Html.BeginForm())
{
    <input type="hidden" name="Id" value="@ViewBag.Id"/>
    
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <!-- reset pwd starts -->
    <div class="reset_popup">
        
        <a href="/UserProfile/Login"><span class="close_popup"><img class="img-responsive" src="~/assets/images/popup-close.png"></span></a>
            <div class="reset_popup_form text-center">
                <form>
                    <h2>@ViewBag.Message</h2>
                    <h2>RESET PASSWORD</h2>
                    <p>Choose a new password for this account.This password will replace the old one</p>

                    <div id="new_pswd">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { })
                    </div>


                    <div id="confirm_pswd">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Pasword", required = "required" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { })
                    </div>

                    @*<input type="text" name="" id="new_pswd" placeholder="New Password">
                    <input type="text" name="" id="confirm_pswd" placeholder="Confirm Password">*@
                    <button class="reset-btn" type="submit">SUBMIT</button>
                </form>
            </div>
</div>

}

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

</body>
</html>