@using HealthcareSoft.Web.Helper;
@model HealthcareSoft.Data.Model.ForgetPasswordModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stetho - Home</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css">
    
</head>

<body>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <!-- forgot popup starts here -->

    <div class="forgot_popup">
        <span class="clspop">
            @Html.ImageActionLink("Link Display Text", "Index", "Home", null, null, "~/assets/images/popup-close.png")</span>
        @*<a href="/Home/Index"><span class="close_popup"><img class="img-responsive" src="~/assets/images/popup-close.png"></span></a>*@

        <div class="forgot_popup_form text-center">
            <form>
                <h2>FORGOT PASSWORD?</h2>
                <p>To reset password, type your email address you used and we'll send you an e-mail to walk you through resetting your password.</p>
                <div id="mail_id">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", required = "required" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { })
                </div>
                @*<input type="text" name="" id="mail_id" placeholder="Email">*@
                <button class="sub-btn" type="submit">SUBMIT</button>
            </form>
        </div>
</div>

}

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>
</html>
