@model IEnumerable<HealthcareSoft.Data.Model.ContentManagementModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stetho - Home</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <section class="head-sec">
        <header id="header" class="">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">stetho</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/Home/Index">HOME</a></li>
                            <li><a href="/Home/Contact">CONTACT US</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="/Home/HowItWorks">HOW IT WORKS</a></li>
                            <li class="menu-line"><img src="~/assets/images/menu-line.png" alt="~/Content/ProfileImages/Image-Icon.jpg"></li>
                            <li class="sign-icon"><a href="/UserProfile/Login" class="login_link"><span><img src="~/assets/images/login-in-img.png" alt="~/Content/ProfileImages/Image-Icon.jpg"></span>Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header><!-- /header -->
        <!-- banner starts here -->
        <div class="container-fluid no-padding">
            <div class="banner-slider">
                <ul class="bxslider bannerslider">
          
            @foreach (var item in Model)
            {
                if (item.SliderNo == 1)
                {
                    <li>
                        <img src="~/assets/images/banner_1.png" alt="~/Content/ProfileImages/Image-Icon.jpg" />
                        <div class="banner-text">
                            <h2>@item.Heading <span>CARE</span></h2>
                            <h4>@item.SubHeading</h4>
                            <p>@item.Content</p>
                            <a href="#" class="know-more-btn">Know More</a>
                        </div>
                    </li>
                }
                if (item.SliderNo == 2)
                {
                    <li>
                        <img src="~/assets/images/banner_1.png" alt="~/Content/ProfileImages/Image-Icon.jpg" />
                        <div class="banner-text">
                            <h2>@item.Heading <span>CARE</span></h2>
                            <h4>@item.SubHeading</h4>
                            <p>@item.Content</p>
                            <a href="#" class="know-more-btn">Know More</a>
                        </div>
                    </li>
                }
                if (item.SliderNo == 3)
                {
                    <li>
                        <img src="~/assets/images/banner_1.png" alt="~/Content/ProfileImages/Image-Icon.jpg" />
                        <div class="banner-text">
                            <h2>@item.Heading <span>CARE</span></h2>
                            <h4>@item.SubHeading</h4>
                            <p>@item.Content</p>
                            <a href="#" class="know-more-btn">Know More</a>
                        </div>
                    </li>
                }
            }   

                </ul>
            </div>
        </div>
    </section>

    <!-- How it works sec starts here -->
    <section>
        <div class="container">
            <div class="how-work text-center">
                <h2>How It Works ?</h2>
                <p>Sed non facilisis augue. Sed scelerisque ac elit eget blandit. Aenean dictum vestibulum porta.<br>Donec efficitur lectus hendrerit metus congue pharetra. .</p>
                <ul class="list-unstyled list-inline">
                    <li>
                        <img src="~/assets/images/h-work-icon_1.png" alt="~/Content/ProfileImages/Image-Icon.jpg">
                        <div class="list-content">
                            <h3>Register Yourself</h3>
                            <p>Quisque non aliquam tellus. Sed ac biben dum dolor, eget efficitur velituis ornare libe.</p>
                        </div>
                    </li>
                    <li class="dashd-line">
                        <img src="~/assets/images/h-work-icon_2.png" alt="~/Content/ProfileImages/Image-Icon.jpg">
                        <div class="list-content">
                            <h3>Write Prescription</h3>
                            <p>Quisque non aliquam tellus. Sed ac biben dum dolor, eget efficitur velituis ornare libe.</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/assets/images/h-work-icon_3.png" alt="~/Content/ProfileImages/Image-Icon.jpg">
                        <div class="list-content">
                            <h3>Book an Appointment</h3>
                            <p>Quisque non aliquam tellus. Sed ac biben dum dolor, eget efficitur velituis ornare libe.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="map-contact-sec">
        <div class="container-fluid no-padding">
            <div id="googlemaps"></div>
            <div class="container" id="contactform">
                <div class="row">
                    <div class="col-md-6 contact-desc">
                        <h2>Contact Us</h2>
                        <p>Sed non facilisis augue. Sed scelerisque ac elit eget blandit. Aenean dictum vestibulum porta. Donec efficitur lectus hendrerit.</p>
                    </div>
                    <div class="col-md-6 form-sec">
                        <form>
                            <input class="first-input" type="text" name="" id="input_name" placeholder="Name">
                            <input type="text" name="" id="input_email" placeholder="Email">
                            <textarea rows="5" cols="70" placeholder="Description"></textarea>
                            <button class="sub-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer sec starts here -->
    <section class="foot-sec">
        <footer>
            <div class="container main-footer-sec">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <h2>stetho</h2>
                        <p>Cras a aliquet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras lacinia ornare velit, id pellentes.</p>
                    </div>
                    <div class="col-md-5 col-sm-12 Q-links">
                        <h4>QUICK LINKS</h4>
                        <ul class="list-unstyled list-inline">
                            <li><a href="">Home</a></li>
                            <li><a href="">Terms & Condition</a></li>
                            <li><a href="">How It Works</a></li>
                            <li><a href="">Help & Support</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">FAQ's</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 connect-us">
                        <h4>CONNECT WITH US</h4>
                        <ul class="list-unstyled list-inline">
                            <li><a href=""><span class="fa fa-facebook"></span></a></li>
                            <li><a href=""><span class="fa fa-twitter"></span></a></li>
                            <li><a href=""><img src="assets/images/g-plus-ico.png" alt="~/Content/ProfileImages/Image-Icon.jpg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyrite-sec text-center">
                <p>© Copyright2018 STETHO   |  All Rights Reserved.</p>
            </div>
        </footer>
    </section>

    <!-- Archana Login -->

    <!-- login popup starts here -->

   <!-- login popup -->




    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoVKy85zkMCIDaM5dZn5sE7nEY9SVMI84&callback=initMap"></script>
    <script src="~/assets/js/custom.js"></script>

</body>
</html>
<script>

    $('.bannerslider').bxSlider({
        auto: true,
    });
   
</script>