@model FriendFitAdmin.Models.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div style="color: #367fa9;font-size: 22px;padding-left: 59px;
    padding-right: 40px; padding-top:20px">
    Change Password
</div>
@{ if (@TempData["Mgs"] == "Success")
    {
        <div id="HideMgs" class="alert alert-success fade in" style="text-align: center; margin: 22px 17px;">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success !</strong> Password Updated Successfully.
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#HideMgs').delay(5000).fadeOut();
            });
        </script>
    }
     if (@TempData["Mgs"] == "Failed")
        {
            <div id="HideMgs" class="alert alert-error fade in" style="text-align: center; margin: 22px 17px;">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Failed !</strong> Old Password is Wrong.
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#HideMgs').delay(5000).fadeOut();
                });
            </script>
        }
    }

    @using (Html.BeginForm("ResetPassword", "Login"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div style="padding-left: 46px;">
            <div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <button type="submit" value="Change password" class="btn btn-success">Change Password</button>
                </div>
            </div>
        </div>
    }

